/* custom css for main page */

/* subscribe cta */
.main .cta.subscribe-cta {

}

/* subscribe form */
.main .form.subscribe-form {
    margin-top: 80px;
}

.main .form.subscribe-form .input {
    text-align: center;
}

/* subscribe alert */
.main .alert.subscribe-alert {
    display: none;
}

/* subscribe message */
.main .message.subscribe-message {
  font-style: italic;
  padding-bottom: 10px;
}
